.DS_Store
.vscode/
.cache/
.mplconfig/
**/__pycache__/
**/*.pyc

known_asteroid/astorb.dat
known_asteroid/de432s.bsp

survey/logs/
survey/plots/
survey/runtime/

known_asteroid/runtime/
known_asteroid/products/

heliolincrr/*.log
